#!/bin/bash

{% for test_variables in test_versions %}
singularity exec centos-cpu-{{ test_variables.centos_version }}-tf{{ test_variables.tensorflow_version }}.sif python scriptname.py centos-cpu-{{ test_variables.centos_version }}-tf{{ test_variables.tensorflow_version }}
{% endfor %}
